@charset 'utf-8';
@import url(//fonts.googleapis.com/css?family=Merriweather);
@import url(//fonts.googleapis.com/earlyaccess/sawarabimincho.css);
@import url(//fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300);
/* Global Styles */

html, body {
    font-family: 'Merriweather', 'Sawarabi Mincho', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    width: 100%;
    letter-spacing: .05em;
    color: #ffffff;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: unset;
    -webkit-text-stroke: .5px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    html, body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

a {
    transition: all .3s;
    color: #091834;
}

a:hover {
    text-decoration: none;
    color: #8775ca;
}

h1 {
    margin: 0;
}

h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 3.3em;
    font-weight: 100;
    line-height: 38px;
    margin: 30px auto 50px;
    color: #ffffff;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .29);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    color: inherit;
}


i {
    margin-left: 5px;
}

iframe {
    border: none;
}

iframe body {
    overflow: hidden;
}

/* Side Menu */
.nav {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 100;
}

.icon-bar {
    background: #32074e;
    background: #ffffff;
}

.navbar-collapse {
    max-height: 500px;
}

.navbar-nav {
    margin-top: 0;
}

.nav li {
    font-size: 1.4em;
    border-bottom: 1px solid transparent;
}

.nav li a {
    line-height: 1;
    padding-top: .8em;
    padding-bottom: .5em;
    transition: .3s all;
    color: #ffffff;
    border-bottom: 1px solid transparent;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: rgba(11, 27, 103, 1);
    border-bottom: 1px solid rgba(11, 27, 103, 1);
    background-color: transparent;
}

.nav li a:active, .nav li a:focus {
    text-decoration: none;
}

.navbar-brand {
    line-height: 1;
    padding: 10px 15px;
    transition: .3s;
    color: #ffffff;
    border-bottom: 1px solid transparent;
}

.navbar-brand:hover {
    color: #eeeeee;
    border-bottom: 1px solid transparent;
}

.navbar-brand > svg {
    height: 100%;
}

.navbar-brand path {
    transition: .3s;
}

.navbar-brand:hover path {
    fill: #001166!important;
}

.item--blur {
    filter: blur(10px) brightness(60%);
}

main {
    transition: all .25s ease-out;
}

section {
    transition: all .25s ease-out;
}

/* Full Page Image Header Area */

header {
    width: 100%;
    height: 100vh;
    transition: all .25s ease-out;
}

#top {
    width: 100%;
    height: 100%;
    background: url(../img/top@0,5x.jpg) no-repeat -63vw center;
    background-size: cover;
}

@media screen and (min-width: 812px) {
    #top {
        background: url(../img/top.jpg) no-repeat -35vw center;
        background-size: cover;
    }
}

@media screen and (min-width: 1025px) {
    #top {
        width: 100%;
        height: 100%;
        background: url(../img/top.jpg) no-repeat center 0 fixed;
        background-size: cover;
    }
}

@media (max-width: 812px) and (orientation: landscape) {
    #top {
        background: url(../img/top@0,5x.jpg) no-repeat center;
        background-size: cover;
    }
}





header .handmade-logo {
    width: 100%;
    height: 100%;
    background: url(../img/top_logo_3_03.png) no-repeat;
    background-position: 73vw 20vh;
    background-size: 20vw;
}

@media screen and (orientation: landscape) {
    header .handmade-logo {
        background-size: 10%;
    }
}


/* Info */

#info {
    position: relative;
}

#info .bg-img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(200, 107, 168, .4), rgba(220, 89, 188, .6)), url(../img/bg_img_sp.jpg);
    background-size: cover;
}



@media screen and (min-width: 1025px) {
    #info .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(200, 107, 168, .4), rgba(220, 89, 188, .4)),
        url(../img/top_duotone.jpg) no-repeat center 0 fixed;
        background-size: cover;
    }
}

#info .bg-color {
    height: 100%;
    padding: 20px 0 50px;
    border-top: 1px solid rgba(245, 227, 255, .5);
    box-shadow: 0 0 100px 1px rgba(255, 255, 255, .65);
}



#info .btn {
    font-size: 20px;
    margin: 10px auto 0;
    padding: 7px 20px;
    cursor: pointer;
    transition: .3s;
    color: #001133;
    border: 1px solid #001133;
    box-shadow: 0 1px 1px rgba(31, 31, 31, .55);
}

#info .btn:hover {
    color: #eeeeee;
    background: rgba(7, 30, 58, .9);
}

#info i {
    margin-right: 5px;
}

#info-items li {
    margin-bottom: 2em;
}

#info-items h5 {
    line-height: 2;
}

#info-items p {
    font-size: 13px;
    line-height: 2em;
    padding: 0;
}

a .fa-youtube path {
    font-size: 2em;
    vertical-align: bottom;
    color: #ff0000;
}

.text-center-off {
    text-align: left;
}

/* Schedule */

#schedule {
    position: relative;
    color: #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

#schedule .bg-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(220, 89, 188, .6), rgba(8, 232, 170, .4)),
    url(../img/bg_img_sp.jpg);
    background-size: cover;
}

@media screen and (min-width: 1025px) {
    #schedule .bg-img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(220, 89, 188, .4), rgba(8, 232, 170, .4)),
        url(../img/top_duotone.jpg) no-repeat center 0 fixed;
        background-size: cover;
    }
}

#schedule .bg-color {
    height: 100%;
    padding: 20px 0;
}

#schedule h2 {
    margin: 10px 0;
}

#schedule .content {
    margin: 20px 0;
}

#schedule .content + a {
    display: block;
    width: 240px;
    margin: 5px auto 10px;
}

#schedule img {
    /*width: 290px;*/
    width: 100%;
    margin: 5px auto 10px;
    box-shadow: 0 1px 5px rgba(51, 50, 50, .65);
}

#schedule .description {
    margin: 5px auto;
    padding: 1em;
    text-align: left;
    border-radius: 3px;
    background: rgba(128, 128, 128, .5);
    box-shadow: 0 1px 8px rgba(51, 50, 50, .65);
}

@media screen and (orientation: landscape) {
    #schedule img {
        float: left;
        width: 49%;
        margin-right: 1%;
    }
    #schedule .description {
        overflow: hidden;
        width: 49%;
    }
}

#schedule .description h4 {
    line-height: 1.5;
}

#schedule p {
    line-height: 1.4;
}

/* Callout */

#callout01 {
    width: 100%;
    height: 400px;
    background: url(../img/callout01.jpg) no-repeat center;
    background-size: cover;
}

@media screen and (min-width: 1025px) {
    #callout01 {
        width: 100%;
        height: 400px;
        background: url(../img/callout01@0,5x.jpg) no-repeat center fixed;
        background-size: cover;
    }
}

/* Profile */

#profile {
    font-size: 14px;
    position: relative;
    color: #eeeeee;
}

#profile .bg-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(168, 109, 159, .6), rgba(146, 47, 150, .6)),
    url(../img/bg_img_sp.jpg);
    background-size: cover;
}

@media screen and (min-width: 1025px) {
    #profile .bg-img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(168, 109, 159, .6), rgba(146, 47, 150, .6)),
        url(../img/callout01_duotone.jpg) no-repeat center fixed;
        background-size: cover;
    }
}

#profile .bg-color {
    height: 100%;
    padding: 20px 0 50px;
    border-top: 1px solid rgba(255, 246, 221, .83);
    box-shadow: 0 0 100px 1px rgba(255, 255, 255, .63);
}

#profile .history {
    margin-bottom: 60px;
}

#profile .history h3 {
    padding-bottom: 15px;
}

#profile .history h4 {
    padding: 1em 0;
}

#profile .history p {
    line-height: 2;
    padding-bottom: 1em;
}

#profile .history dd {
    line-height: 2;
    margin-bottom: 1em;
}

#profile .history dt {
    font-size: 16px;
    line-height: 2;
    color: #ffffff;
}

#profile .text {
    margin-bottom: 60px;
    padding: 10px 15px;
    border-radius: 3px;
    background: rgba(128, 128, 128, .4);
    box-shadow: 0 1px 5px rgba(51, 50, 50, .65);
}

@media screen and (min-width: 375px) {
    #profile .text {
        padding: 10px 2em;
    }
}

#profile .text dt {
    font-size: 20px;
    margin: 1em 0 .5em;
}

#profile .text dd {
    line-height: 2;
    margin-bottom: 2em;
}

#profile .sns {
    margin: 0 0 2em 0;
}

.sns-icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    transition: .3s ease-in-out;
    border-radius: 50%;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.sns-icon:hover {
    cursor: pointer;
    border-radius: 25px;
}

.sns-icon a {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
}

.sns-icon a path {
    fill: #ffffff;
}

#twitter {
    background: no-repeat center, #1da1f2;
}

#instagram {
    position: relative;
    background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
    overflow: hidden;
}

#instagram::before{/*グラデーションを重ねるため*/
    content: '';
    position: absolute;/*絶対配置*/
    top: 23px;/*ずらす*/
    left: -18px;/*ずらす*/
    width: 60px;/*グラデーションカバーの幅*/
    height: 60px;/*グラデーションカバーの高さ*/
    background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
    background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);/*グラデーション②*/
}

#instagram a {
    position: relative;
    z-index: 2;
}

#facebook {
    background: url(../img/facebook.png) no-repeat center, #7788cc;
}

#blog {
    background: no-repeat center, #2d8c3c;
}

#blog svg {
    height: 76%;
    margin-top: 12%;
}

#youtube {
    background: no-repeat center, #da1725;
}

#soundcloud {
    background: no-repeat center, #fc361d;
}

.sns-icon .svg-inline--fa {
    height: 100%;
}

.sns-icon .svg-inline--fa {
    width: 70%!important;
}

/* Discography */

#discography {
    position: relative;
    border-bottom: 1px solid #eeeeee;
}

#discography .bg-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(146, 47, 150, .6), rgba(221, 171, 102, .6)),
    url(../img/bg_img_sp.jpg);
    background-size: cover;
}

@media screen and (min-width: 1025px) {
    #discography .bg-img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(146, 47, 150, .6), rgba(221, 171, 102, .6)),
        url(../img/callout01_duotone.jpg) no-repeat center fixed;
        background-size: cover;
    }
}

#discography .bg-color {
    padding: 20px 0 50px;
}

#discography h2 {
    margin-bottom: 0;
}

#discography .item {
    margin-top: 50px;
}

#discography iframe {
    width: 80%;
    box-shadow: 0 1px 5px rgba(51, 50, 50, .65);
}

/* Callout02 */

#callout02 {
    width: 100%;
    height: 100vh;
    background: url(../img/callout02@0,5x.jpg) no-repeat center 0;
    background-size: cover;
}

@media screen and (orientation: landscape) and (max-width: 736px) {
    #callout02 {
        background: url(../img/callout02@0,5x.jpg) no-repeat center -40vh;
        background-size: cover;
    }
}

@media screen and (min-width: 1025px) {
    #callout02 {
        width: 100%;
        height: 400px;
        background: url(../img/callout02@0,5x.jpg) no-repeat center fixed;
        background-size: cover;
    }
}

@media screen and (orientation: landscape) and (min-width: 1025px) {
    #callout02 {
        background: url(../img/callout02@0,5x.jpg) no-repeat center -18vw fixed;
        background-size: cover;
    }
}

@media screen and (orientation: portrait) and (min-width: 1025px) {
    #callout02 {
        background: url(../img/callout02@0,5x.jpg) no-repeat center fixed;
        background-size: cover;
    }
}

/*Movie */

#movie {
    position: relative;
}

#movie .bg-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(221, 171, 102, .6), rgba(126, 48, 155, .6)),
    url(../img/bg_img_sp.jpg);
    background-size: cover;
}

@media screen and (min-width: 1025px) {
    #movie .bg-img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(221, 171, 102, .6), rgba(126, 48, 155, .6)),
        url(../img/callout02_duotone.jpg) no-repeat center fixed;
        background-size: cover;
    }
}

@media screen and (orientation: landscape) and (min-width: 1025px) {
    #movie .bg-img {
        background: linear-gradient(rgba(221, 171, 102, .6), rgba(126, 48, 155, .6)),
        url(../img/callout02_duotone.jpg) no-repeat center -18vw fixed;
        background-size: cover;
    }
}

@media screen and (orientation: portrait) and (min-width: 1025px) {
    #movie .bg-img {
        background: linear-gradient(rgba(221, 171, 102, .6), rgba(126, 48, 155, .6)),
        url(../img/callout02_duotone.jpg) no-repeat center fixed;
        background-size: cover;
    }
}

#movie .bg-color {
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, .77);
    box-shadow: 0 0 100px 1px rgba(255, 255, 255, .63);
}

#movie .item {
    padding: 20px 0;
}

#movie iframe {
    box-shadow: 0 1px 5px rgba(51, 50, 50, .65);
}

/*Contact */

#contact {
    position: relative;
    padding: 20px 0 50px;
    color: #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

#contact .bg-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(126, 48, 155, .6), rgba(126, 48, 155, .6)),
    url(../img/bg_img_sp.jpg);
    background-size: cover;
}

@media screen and (min-width: 1025px) {
    #contact .bg-img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(126, 48, 155, .6), rgba(126, 48, 155, .6)),
        url(../img/callout02_duotone.jpg) no-repeat center fixed;
        background-size: cover;
    }
}

#contact .btn {
    margin: 30px 0 10px;
    padding: 7px 20px;
    color: #eeeeee;
    border: none;
    background: #001133;
    box-shadow: 0 1px 1px rgba(31, 31, 31, .55);
}

#contact .btn:hover {
    background: rgba(7, 30, 58, .9);
}

#form {
    display: none;
    width: 100%;
    margin: 20px 0;
}

@media screen and (max-width: 640px) {
    #form {
        margin-left: -5px;
    }
}

#contact iframe {
    width: 100%;
    height: 550px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(51, 50, 50, .65);
}

/*Footer */

footer {
    padding: 50px 0;
    color: #333333;
    background: #dddddd;
}

.btn-sns li {
    margin-bottom: 20px;
}

.btn-sns li iframe, .btn-sns li div, .btn-sns li a {
    vertical-align: bottom!important;
}

.btn-pinterest > span {
    vertical-align: middle;
}


@media (min-width: 375px) {
    #soundcloud + h4 {
        position: static;
    }
}

@media (min-width: 768px) {
    header .handmade-logo {
    }

    #schedule .bg-color {
        padding-bottom: 50px;
    }

    #schedule .content {
        padding-bottom: 30px;
    }

    #schedule img {
        float: left;
        width: 40%;
        margin-left: 8%;
    }

    #schedule .description {
        width: 40%;
        margin-left: 50%;
    }

    #discography .bg-color {
        padding-bottom: 80px;
    }

    #discography iframe {
        height: 106px;
    }

    #movie iframe {
        width: 360px;
        height: 270px;
    }
}

@media (min-width: 992px) {
    #schedule img {
        float: left;
    }

    #schedule .description {
        width: 40%;
        margin-left: 52%;
    }
}

@media (min-width: 1200px) {
    #schedule img {
        margin-left: 10%;
    }
}

iframe[data-normal] {
    background-image: url(../img/layzr-loading.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 32px 32px;
}
